body{
	padding: 0;
    margin: 0;
}	

.navigation{

    display:flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}


.fa{
    color:#ff3;
}
h3, h2, h4, h5, h6{
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
}

.bg-custom{
	background: #ccc;
}

#mapid{
    height: 300px;
    width: 100%;
    border-radius: 2px;
    margin: 0 auto ;
    display: flex;
    justify-content: center;
    
  }